.u-section-1 .u-sheet-1 {
  min-height: 400px;
}@font-face {
  font-family: 'IRANSansWeb';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/IRANSansWeb.ttf);
}@font-face {
  font-family: 'yekanbakh06bold1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/yekanbakh06bold1.woff);
}@font-face {
  font-family: 'yekanbakh-regular4';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/yekanbakh-regular4.woff);
}